.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/lato/Lato-Regular.woff2") format("woff2"), url("../../fonts/lato/Lato-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/lato/Lato-Regular.woff2") format("woff2"), url("../../fonts/lato/Lato-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/oswald/oswaldregular.woff2") format("woff2"), url("../../fonts/oswald/oswaldregular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2"), url("../fonts/oswald/oswaldmedium.woff") format("woff");
  font-display: swap;
}
.header {
  border-bottom: solid 1px #d9d9d9;
  position: relative;
}
.header__logo {
  margin: 0;
}
.header__navigation-button {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  position: absolute;
  right: 20px;
}
.header__navigation {
  margin: 0;
}
.navigation {
  position: relative;
}
.navigation__list {
  display: none;
  list-style-type: none;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 38px;
  right: -20px;
  z-index: 10;
}
.navigation__item {
  padding: 0;
  text-align: center;
  border-bottom: solid 1px #e6e6e6;
  background-color: #ffffff;
}
.navigation__link {
  padding: 22px 70px;
  width: 180px;
  display: block;
  font-family: inherit;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}
.navigation__link:hover,
.navigation__link:focus {
  color: #4d4d4d;
}
.navigation__link:active {
  color: #999999;
}
.navigation__link--current {
  margin: 0;
}
.map {
  display: flex;
  padding: 26px 20px;
}
.map--inner {
  background-color: #f2f2f2;
}
.map__header {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.map__contacts {
  font-family: "Lato", "Arial", sans-serif;
  color: #444444;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}
.map__wrapper {
  margin: 0;
}
.footer {
  background-color: #f2f2f2;
  padding: 20px 20px;
}
.footer__wrapper {
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.footer__logo {
  display: flex;
  justify-content: center;
}
.footer__logo-link {
  text-decoration: none;
  padding: 20px;
  color: #111111;
}
.footer__logo-link:hover,
.footer__logo-link:focus {
  color: #3e3e3e;
}
.footer__logo-link:active {
  color: #6b6b6b;
}
.footer__social {
  margin: 0;
  display: flex;
  justify-content: center;
}
.footer__htmlacademy {
  margin: 0;
}
.footer__htmlacademy-link {
  padding: 20px 0;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.footer__htmlacademy-text {
  font-family: "Lato", "Arial", sans-serif;
  color: #444444;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
}
.footer__htmlacademy-text:active {
  opacity: 30%;
}
.footer__htmlacademy-image {
  color: #666666;
}
.footer__htmlacademy-image:hover,
.footer__htmlacademy-image:focus {
  color: #68b738;
}
.footer__htmlacademy-image:active {
  opacity: 30%;
}
.social {
  position: relative;
  padding: 20px 0;
}
.social__list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 132px;
}
.social__item {
  margin: 0;
}
.social__link {
  color: #666666;
}
.social__link:hover,
.social__link:focus {
  color: #68b738;
}
.social__link:active {
  color: #cbe9b8;
}
.social::before {
  position: absolute;
  content: "";
  border-top: solid 1px #d9d9d9;
  width: 280px;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}
.social::after {
  position: absolute;
  content: "";
  border-bottom: solid 1px #d9d9d9;
  width: 280px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.main-index__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-index__programms {
  margin: 0;
}
.main-index__description {
  padding: 0 20px 30px;
}
.main-index__example {
  padding: 25px 20px 20px;
}
.main-index__slider {
  padding: 0;
}
.intro {
  margin: 0;
}
.intro__wrapper {
  background-image: url("../img/index-background.jpg");
  background-color: rgba(104, 183, 56, 0.85);
  background-repeat: no-repeat;
  width: 320px;
  min-height: 302px;
  padding-top: 27px;
}
.intro__title {
  margin: 0;
  margin-bottom: 25px;
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}
.intro__description {
  margin: 0;
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
}
.intro__image {
  margin: 0;
}
.intro__button {
  font-family: inherit;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
  text-decoration: none;
  cursor: pointer;
  padding: 8px 44px;
  font-size: 14px;
  line-height: 18px;
  width: 192px;
  text-transform: uppercase;
}
.intro__button:hover {
  background-color: #5eaa2f;
}
.intro__button:active {
  background-color: #5eaa2f;
  opacity: 35%;
}
.programms {
  padding: 20px 20px 0 20px;
}
.programms__card {
  margin-bottom: 20px;
  width: 240px;
  min-height: 266px;
  display: flex;
  flex-wrap: wrap;
  padding: 24px 20px 18px;
}
.programm-wrapper {
  background-color: #f2f2f2;
}
.programm-wrapper__image {
  margin-right: 12px;
}
.programm-wrapper__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
}
.programm-wrapper__description {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  position: relative;
  color: #444444;
  border-bottom: solid 1px #d9d9d9;
}
.programm-wrapper__description::after {
  position: absolute;
  content: "";
  border-bottom: solid 1px #d9d9d9;
  width: 240px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15px;
}
.programm-wrapper__link {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  padding: 15px 0;
}
.programm-wrapper__link__link:hover {
  color: #000000;
}
.programm-wrapper__link__link:active {
  color: #808080;
}
.work-description {
  display: flex;
  flex-direction: column;
}
.work-description__title {
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;
}
.work-description__list {
  list-style-type: none;
  padding: 0;
}
.work-description__item {
  display: flex;
}
.description-item {
  margin-bottom: 20px;
}
.description-item__icon {
  width: 60px;
  height: 60px;
  background-color: #68b738;
  color: #ffffff;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.description-item__text {
  font-family: "Lato", "Arial", sans-serif;
  color: #444444;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  width: 199px;
}
.example {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #eaeaea;
}
.example__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
}
.example__description {
  font-family: "Lato", "Arial", sans-serif;
  color: #444444;
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
}
.example__frame-wrapper {
  display: flex;
  margin-bottom: 34px;
}
.example__frame {
  border: solid 1px #cdcdcd;
  border-radius: 3px;
  padding: 14px 21px 17px;
}
.example__result {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}
.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame__title {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}
.frame__description {
  font-family: "Lato", "Arial", sans-serif;
  color: #444444;
  margin: 0;
  font-size: 14px;
  line-height: 14px;
}
.slider {
  margin: 20px auto;
  position: relative;
  width: 280px;
  height: 256px;
}
.slider__view {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.slider__view img {
  width: 280px;
  max-width: 640px;
}
.view-before {
  z-index: 10;
}
.view-after {
  width: 130px;
  z-index: 20;
}
.slider__dragme {
  position: absolute;
  width: 4px;
  height: 100%;
  top: 0;
  left: 130px;
  background-color: #666666;
  border-radius: 2px;
  cursor: pointer;
  z-index: 30;
}
.slider__dragme:hover {
  background-color: #68b738;
}
.slider__dragme:active {
  background-color: #5eaa2f;
}
.slider__dragme-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(50% - 20px);
  left: -20px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #666666;
  background-color: #ffffff;
  border: solid 2px #666666;
  cursor: pointer;
  z-index: 30;
}
.slider__dragme-circle:hover {
  color: #68b738;
  border: solid 2px #68b738;
}
.slider__dragme-circle:active {
  color: #5eaa2f;
  border: solid 2px #5eaa2f;
}
.main-catalog {
  margin: 0;
}
.main-catalog__wrapper {
  padding: 35px 20px 0;
}
.main-catalog__title {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
}
.main-catalog__item {
  margin: 0;
}
.main-catalog__additional {
  margin: 0;
}
.main-catalog__present {
  padding: 35px 20px;
  min-width: 280px;
  min-height: 290px;
}
.product {
  margin: 0;
}
.product__link {
  text-decoration: none;
}
.product__image-wrapper {
  margin: 0;
}
.product__title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;
}
.product__button {
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 109px;
  display: block;
}
.product__button:hover {
  background-color: #5eaa2f;
}
.product__button:active {
  background-color: #5eaa2f;
  opacity: 35%;
}
.product__list-about {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.product__item-about {
  display: flex;
  justify-content: space-between;
}
.product__text-about {
  font-family: "Lato", "Arial", sans-serif;
  color: #444444;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}
.show-more {
  padding: 78px 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: solid 1px #ebebeb;
  border-bottom: solid 1px #ebebeb;
}
.show-more__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  margin-bottom: 8px;
}
.show-more__description {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  color: #444444;
  margin-bottom: 21px;
}
.show-more__button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #444444;
  background-color: #f2f2f2;
  padding: 10px 94px;
  margin-bottom: 20px;
}
.add-products {
  padding: 25px 20px 0;
  display: flex;
  flex-wrap: wrap;
}
.add-products__title {
  margin: 0;
  margin-bottom: 36px;
  font-size: 24px;
  line-height: 24px;
}
.add-products__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.add-products__item {
  border-bottom: solid 1px #cdcdcd;
  border-top: solid 1px #cdcdcd;
}
.add-products__button {
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 109px;
  margin-bottom: 20px;
  display: block;
}
.add-products__button:hover {
  background-color: #5eaa2f;
}
.add-products__button:active {
  background-color: #5eaa2f;
  opacity: 35%;
}
.add-products__item-title {
  margin: 0;
  padding: 13px 0;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
.add-products__item-text {
  font-family: "Lato", "Arial", sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 14px;
  width: 50%;
  margin: 0;
}
.present {
  margin: 0;
}
.present__text {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  color: #ffffff;
  padding: 186px 59px 43px;
  text-align: center;
  background-color: rgba(104, 183, 56, 0.85);
  background-image: url("../img/present-background.jpg");
  background-repeat: no-repeat;
  position: relative;
}
.present__text::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  width: 78px;
  height: 80px;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
}
.main-form__form {
  margin: 0;
}
.form {
  margin: 0;
}
.form__header {
  padding: 27px 40px 39px 20px;
}
.form__personal-data {
  padding: 0 20px 24px 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.form__radio {
  margin: 0;
  padding: 28px 20px 25px 20px;
}
.form__contact-data {
  margin: 0;
  padding: 0 20px;
}
.form__comment {
  margin: 0;
  padding: 0 20px;
}
.form__title {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 37px;
  padding: 27px 40px 39px 20px;
}
.form__description {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.form__checkbox {
  margin: 0;
  padding: 0 20px 40px;
}
.form__button-wrapper {
  padding: 0 20px 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form__submit-button {
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
  text-decoration: none;
  cursor: pointer;
  border: none;
  padding: 7px 86px;
  margin-bottom: 20px;
}
.form__submit-button:hover {
  background-color: #5eaa2f;
}
.form__submit-button:active {
  background-color: #5eaa2f;
  opacity: 35%;
}
.form__submit-text {
  font-family: "Lato", "Arial", sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}
.legend {
  font-size: 24px;
  line-height: 26px;
}
.personal-data {
  border: none;
  border-bottom: solid 1px #d9d9d9;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}
.personal-data__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.personal-data__item {
  margin: 0;
}
.personal-data__label {
  margin-right: 13px;
}
.personal-data__input {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  padding: 14px 20px 13px;
  border-radius: 0;
  border: solid 1px #e7e7e7;
}
.radio {
  border: none;
  border-bottom: solid 1px #d9d9d9;
}
.radio__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.radio__item {
  margin: 0;
}
.control-radio {
  margin: 0;
}
.control-radio__text {
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
  padding-left: 45px;
  cursor: pointer;
  position: relative;
}
.control-radio__text::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  background-color: #ffffff;
  border: solid 1px #cdcdcd;
  border-radius: 50%;
}
input:checked + .control-radio__text::before {
  background-image: url("../img/radio-dot.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.contact-data {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  border: none;
}
.contact-data__title {
  color: #000000;
  padding-top: 26px;
  margin-bottom: 35px;
}
.contact-data__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.contact-data__item {
  margin: 0;
}
.contact-data__label {
  margin-right: 10px;
}
.contact-data__input {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  padding: 14px 15px 13px;
  border: solid 1px #e7e7e7;
}
.contact-data__input--email {
  color: #444444;
}
.contact-data__input--telefone {
  color: #444444;
}
.comment {
  border: none;
}
.comment__title {
  padding-top: 23px;
  margin-bottom: 37px;
}
.comment__textarea {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  border-radius: 0;
  border: solid 1px #e7e7e7;
  resize: none;
}
.checkbox {
  border: none;
}
.checkbox__title {
  padding-top: 23px;
  margin-bottom: 40px;
}
.checkbox__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.checkbox__item {
  margin: 0;
}
.control-checkbox {
  margin: 0;
}
.control-checkbox__text {
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
  padding-left: 46px;
  cursor: pointer;
  position: relative;
}
.control-checkbox__text::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  background-color: #ffffff;
  border: solid 1px #cdcdcd;
}
input:checked + .control-checkbox__text::before {
  background-image: url("../img/checkbox-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}
/*# sourceMappingURL=style.css.map */
